#footer {
  left: 0px;
  right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 1.3;
}

.credits {
  font-size: 10px;
}

#algolia {
  height: 10px;
  margin-bottom: -1px;
  margin-right: -0.5px;
}
