@let stock = selectedStock();

<!-- Stock title -->
@if (stock.name !== '') {
  <h1 [ngClass]="{'collapsed': stock.isCollapsed, 'stock-name': true, 'section-title': true}">

    <!-- Link to collapse/expand stock -->
    <a (click)="stock.isCollapsed = !stock.isCollapsed" title="Collapse stock">
      <!-- Collapsed/expanded caret -->
      <i [ngClass]="{'fa-caret-right': stock.isCollapsed, 'fa-caret-down': !stock.isCollapsed, 'fas': true, 'w-15': true, 'mr-5': true}"></i>

      <span class="stock-name-price-container">
        <span class="mr-5">
          <!-- Stock name and symbol -->
          {{ stock.name }} ({{ stock.symbol }}):
        </span>

        @if (stock.isRising !== null) {
          <span [ngClass]="{'up': stock.isRising, 'down': !stock.isRising, 'price-container': true}">
            <!-- Stock price -->
            @if (stock.price !== null) {
              {{ '$' + stock.price.toFixed(2) }}
            }
            @if (stock.change !== null && stock.changePercent !== null) {
              <span [ngClass]="{'up': stock.isRising, 'down': !stock.isRising, 'ml-5': true, 'dollar-change-container': true}">
                <span>
                  <!-- Price change in USD -->
                  {{ (stock.change > 0 ? '+$' : '-$') + Math.abs(stock.change).toFixed(2) }}
                </span>
                <span>
                  <!-- Price change % -->
                  {{ (stock.changePercent > 0 ? '+' : '-') + Math.abs(stock.changePercent).toFixed(2) + '%' }}
                </span>
              </span>
            }
          </span>
        }
      </span>
    </a>

    <!-- Remove stock button -->
    <a class="remove" (click)="removeStock(stock)" title="Remove stock">&times;</a>
  </h1>
}

@if (stock.name) {
  <app-calculator
    [ngClass]="{'hidden': stock.isCollapsed}"
    [selectedStock]="stock"
    (shareEntered)="onShareEntered($event)"
    (shareRemoved)="onShareRemoved($event)">
  </app-calculator>
}

@if (stock.priceHistory.length > 0) {
  <app-chart
    [ngClass]="{'hidden': stock.isCollapsed}"
    [selectedStock]="stock"
    (chartUpdated)="onChartUpdated($event)">
  </app-chart>
}

@if (stock.company.Symbol) {
  <app-company
    [ngClass]="{'hidden': stock.isCollapsed}"
    [company]="stock.company">
  </app-company>
}

@if (stock.news.length > 0) {
  <app-news
    [ngClass]="{'hidden': stock.isCollapsed}"
    [news]="stock.news"
    (stockSelected)="onStockSelected($event)">
  </app-news>
}
