<app-header
  [isLandingPage]="isLandingPage">
</app-header>

<app-search
  [isLandingPage]="isLandingPage"
  [selectedStocks]="selectedStocks()"
  (stockSelected)="addNewStock($event)">
</app-search>

<div id="main-container">
  @if (selectedStocks().length > 0 && renderNetChart) {
    <app-net-chart
      [selectedStocks]="selectedStocks()"
      [update]="updateNetChart"
      (chartUpdated)="onNetChartUpdated()"
      (optionUpdated)="displayNetChart()">
    </app-net-chart>
  }

  @for (selectedStock of selectedStocks(); track selectedStock.symbol) {
    <app-portfolio
      id="{{ selectedStock.symbol }}"
      [selectedStock]="selectedStock"
      (chartUpdated)="onPriceChartUpdated($event)"
      (shareEntered)="addNewShare($event)"
      (shareRemoved)="removeShare($event)"
      (stockRemoved)="removeStock($event)"
      (stockSelected)="addNewStock($event)">
    </app-portfolio>
  }

  <app-footer></app-footer>
</div>
