.calculator-container {
  padding: 10px;
  background-color: #ffffff;
}

table {
  padding-top: 10px;
  border-spacing: 0px;
}

input {
  padding: 0px;
  border: none;
  box-shadow: none;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: #999;
}

.empty {
  color: #999;
}

.date {
  width: 115px;
}

.number {
  width: 40px;
}

.price {
  width: 55px;
}

.remove {
  visibility: hidden;
  font-size: 14px;
}

.stock-row:hover .remove {
  visibility: visible;
}

.error {
  color: #ff0000;
}

.pb-7 {
  padding-bottom: 7px;
}
